.fonter {
    font-size: 22px !important;
    padding-left:70px !important;
}
/* .navbar {
    min-height: 90px;
  } */

.center {
  display: flex;
  justify-content: center;
}
.homeClass {
  text-align: center;
  border: 1px solid black;
  /* width: 400px; */
  /* height: 500px; */
  padding: 3%;
  background-color: white;

}
.homeClass label {
    margin-top: 10%;
}